/* common shared styles */

* {
  margin: 0;
  padding: 0;
}

/* header starts */

.banner {
  background-image: url("../resources/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  background-repeat: no-repeat;
  margin: 50px 140px 0px 140px;
  border-radius: 16px;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding: 171px 531px 0px 530px;
}

.banner-heading {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding: 10px 344px 177px 344px;
}

/* main starts */

/* holiday deals strats */
.off {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding: 110px 0px 48px 0px;
}

.our-holiday {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}

.categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 48px;
}

.happy-new-year {
  width: 802.9px;
  height: 500px;

  margin: 0 auto;
}

/* mid night party starts */

.mid-night-party {
  display: flex;
}

.mid-night-party {
  background-image: url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 120px;
}

.welcome {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding-left: 126px;
  padding-right: 100px;
  padding-top: 126px;
}

.welcome-discription {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 250px 0px 126px;
}

.party-btn {
  color: #2d2d2d;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 126px;
  margin-top: 20px;
}

.img-0f-2024 {
  margin: 67px 138px 67px 0px;
}

/* party info starts */

.place-date-time {
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  background-color: #fff1f1;
  margin-top: 120px;
  border-radius: 17px;
}
.place-date-time div {
    text-align: center;
    padding: 100px 0px 0px 0px;
}
.primary {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  text-transform: capitalize;
}

.span-color {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.info-btn {
  background-color: #f00;
  color: white;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 40px;
  border: none;
  border-radius: 5px;

}

.btn-of-info{
    margin: 0 auto;
    margin-top: -40px;

}
