/* common shared styles */

* {
  margin: 0;
  padding: 0;
}

/* header starts */

.banner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("../resources/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  background-repeat: no-repeat;
  margin: 50px 140px 0px 140px;
  border-radius: 10px;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding: 171px 531px 0px 530px;
}

.banner-heading {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding: 10px 344px 177px 344px;
}

/* main starts */

/* holiday deals strats */
.off {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding: 110px 0px 48px 0px;
}

.our-holiday {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}

.categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 48px;
}

.happy-new-year {
  width: 802.9px;
  height: 500px;

  margin: 0 auto;
}

/* mid night party starts */

.mid-night-party {
  display: flex;
}

.mid-night-party {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("../resources/Vectorrr.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 120px;
  border-radius: 10px;
}

.welcome {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding-left: 126px;
  padding-right: 100px;
  padding-top: 126px;
}

.welcome-discription {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 250px 0px 126px;
}

.party-btn {
  color: #2d2d2d;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 126px;
  margin-top: 20px;
}
.party-btn:hover {
  background-color: rgb(46, 46, 46);
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.img-0f-2024 {
  margin: 67px 138px 67px 0px;
}

.place-date-time {
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.10) 0%,rgba(255, 0, 0, 0.00) 100%);
  margin-top: 120px;
  border-radius: 10px;
}
.place-date-time div {
  text-align: center;
  padding: 100px 0px 0px 0px;
}
.primary {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  text-transform: capitalize;
}

.span-color {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.info-btn {
  background-color: #f00;
  color: white;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 40px;
  border: none;
  border-radius: 5px;
}

.info-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #f00;
  border: 2px solid #f00;
  transition: 0.5s;
}

.btn-of-info {
  margin: 0 auto;
  margin-top: -40px;
}

/* New year offer coming soon starts */

.coming-soon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.coming-soon-colum-1 {
  margin-left: 100px;
  margin-right: 450px;
  margin-top: 100px;
  padding-right: 285px;
}

.coming-soon-colum-2 {
  max-width: 100%;
  max-height: 100%;
}

.coming-soon-colum-3 {
  margin-right: 100px;
  margin-top: 100px;
}

.coming-soon-picture {
  width: 364.844px;
  height: 364.844px;
  margin-left: -605px;
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 30px;
}

.coming-soon-offer {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.coming-soon-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 10px 0;
}

.coming-soon-discription {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.coming-soon-2024 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-top: 0px;
}

.coming-soon-2024-discription {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 10px 0px 50px 0px;
}

/* holiday sale starts */

.holiday-sale {
  margin: 120px 0px;
}

.holiday-sale-container {
  width: 70%;
  margin: 0 auto;
}

.holiday-sale-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.sale-span {
  color: rgb(34, 34, 34);
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  padding: 28px 0px;
}

.holiday-sale-heading {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  padding: 28px 0px;
}

.holiday-sale-discription {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

/* discout offer starts */

.discount-offer {
  margin-top: -50px;
}
.discount-offer-img-1 {
  position: relative;
  text-align: right;
  padding: 0;
  margin-bottom: -4px;
  margin-right: 99px;
}

.discount-offer-img-2 {
  position: relative;
  margin-left: 100px;
}

.discount-offer-img-3 {
  position: absolute;
  margin-left: 40px;
  margin-top: -690px;
}

.discount-offer-img-4 {
  position: absolute;
  margin-left: 841px;
  margin-top: -320px;
}

/* portfolio starts */

.portfoli-gifts {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 150px;
  margin-left: 100px;
  margin-bottom: 16px;
}

.portfoli-awesome {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-left: 100px;
  margin-bottom: 16px;
}

.portfoli-discription {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.porfolio-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1380px;
  margin-left: 70px;
}

.porfolio-items img {
  max-width: 100%;
  max-height: 100%;
}

.div-portfolio-items-pic {
  margin: 30px;
  width: 100%;
  border-radius: 20px;
}

.div-portfolio-items-pic:hover {
  margin: 30px;
  width: 100%;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 1px 0px 20px 13px rgba(40, 40, 40, 0.37);
}

/* subscribe newsletter starts */

.subscribe {
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.05);
  width: 1320px;
  height: 616px;
  margin: 0 auto;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

.subcribe-img {
  margin-top: 80px;
  margin-bottom: 22px;
}
.subscribe-h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.subscribe-pg {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding: 0 220px;
  line-height: 32px;
  margin-bottom: 32px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form-input {
  width: 520px;
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
  margin-top: 30px;
  height: 60px;
}

.subscribe-form-input input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
}

.subscribe-form-submit {
  width: 160px;
  height: 70px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Inter;
  font-size: 18px;
}

.subscribe-form-submit:hover {
  background: rgb(42, 42, 42);
  transition: 0.5s;
}

.subscribe-form-email::placeholder {
  left: 30px;
  bottom: 10px;
  font-size: 15px;
  position: absolute;
  font-family: Inter;
  opacity: 0.7;
}

/* footer starts */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #070211;
  width: 1519px;
  height: 609px;
  color: #fff;
  position: relative;
}

.footer-items-icon {
  display: flex;
  justify-content: space-around;
  background: #070211;
}

.address,
.rights,
.contact,
.website,
.unsubscribe {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.address {
  padding-left: 126px;
  padding-bottom: 60px;
}

.rights {
  padding-left: 126px;
  padding-top: 230px;
}

.contact,
.website {
  padding-right: 230px;
}
.website {
  padding-bottom: 55px;
}
.unsubscribe {
  padding-left: 200px;
  padding-top: 250px;
}

.icons {
  padding: 20px;
}

.footer-hr-1 {
  border: 1px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  width: 83%;
  margin-top: 170px;
  margin-left: 126px;
}


.footer-hr-2 {
  border: 1px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  width: 83%;
  margin-top: -148px;
  margin-left: 126px;
}

/* footer ends  */
