/* common shared styles */

* {
  margin: 0;
  padding: 0;
}

/* header starts */

.banner {
  background-image: url("../resources/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  background-repeat: no-repeat;
  margin: 50px 140px 0px 140px;
  border-radius: 16px;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding: 171px 531px 0px 530px;
}

.banner-heading {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding: 10px 344px 177px 344px;
}

/* main starts */

/* holiday deals strats */
.off {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding: 110px 0px 48px 0px;

}

.our-holiday {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}

.categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 48px;
}

.happy-new-year {
  width: 802.9px;
  height: 500px;
  
margin: 0 auto;
}

/* mid night party starts */

